/* body { 
    flex: 1; 
    flex-direction: 'row' 
} */

#header {
    margin-top: 20px;
}

#dropdownMenuButton {
    margin: 20px;
}

#chartdiv {
    margin-left: 20px;
    margin-right: 20px;
}

#input-form {
    width: '100%'
}

label {
    margin-right: 5px;
    margin-left: 5px;
}

#submit-button {
    margin-left: 5px;
}